*, ::before, ::after{
    margin: 0;
    padding: 0;
}

html{
    background-color: #000;
    color: #fff;
}

:root{
    --web-color: rgb(255, 184, 3);
    --web-color2: rgb(119, 176, 34);
    --web-color2-sha: rgb(83, 123, 24);
}
.navbar{
    position: fixed;
    width: 100vw;
    border-bottom: 3px solid var(--web-color2);
    box-shadow: inset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2px 2px 0px;
    z-index: 5;
    background-color: #000;
}

.title{
    width: 30%;
}

.title img{
    width: 50px;
    height: 50px;
    margin-left: 33px;
}

.title p{
    color: var(--web-color);
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}

.navsec{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: nowrap;
    width: 70%;
    justify-content: flex-end;
    justify-items: center;
}

.start-link{
    display: flex;
    align-items: flex-start;
    height: 20px;
    border: 2px solid var(--web-color2);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    background-color: var(--web-color2);
    padding: 10px 5px 10px 5px;
}

.start-link:hover{
    box-shadow: 0px 0px 5px 5px rgb(157, 233, 44);
    transform: translateY(2px) scale(1.1);
    transition: transform 0.4s ease-in-out;
}

.menu-img, .transfer img{
    width: 40px;
    height: 40px;
}

.intro{
    position: absolute;
    top: 100px;
    width: 100%;
}

.intro h2, h4{
    text-align: left;
    margin-left: 5vw;
    margin-right: 5vw;
}

.service{
    margin: 40px 20px;
}

.service div {
    padding: 5px;
}

.transfer{
    width: 50%;
    background-color: var(--web-color2);
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 10px var(--web-color2-sha);
}













/* Media query section */
@media (max-width: 481px) {
    .title p{
        font-size: 1em;
    }
    .title img{
        width: 45px;
        height: 45px;
        margin-left: 23px;
    }
    .start-link{
        padding: 7px 2px 7px 2px;
    }
    .menu-img{
        width: 40px;
        height: 40px;
    }
}