*, ::before, ::after{
    margin: 0;
    padding: 0;
}

html{
    background-color: #000;
}

:root{
    --web-color: gold;
}
.navbar{
    position: fixed;
    width: 100%;
    border-bottom: 3px solid var(--web-color);
    display: flex;
    flex-direction: row;
}

.title{
    display: flex;
    flex-direction: column;
}

.title img{
    width: 35px;
    height: 35px;
    margin-left: 30px;  
}

.title p{
    color: var(--web-color);
    font-weight: bolder;
    font-size: 1.2em;
}

.title p span{
    color: rgb(119, 176, 34);
}

.navsec{
    justify-items: flex-end;
}