*, ::before, ::after{
    margin: 0;
    padding: 0;
}

html{
    background-color: #000;
}

:root{
    --web-color: gold;
    --web-color2: rgb(119, 176, 34);
}
.navbar{
    position: fixed;
    width: 100vw;
    border-bottom: 3px solid var(--web-color);
    display: flex;
    flex-direction: row;
    padding-top: 0.5vh;
}

.title{
    display: flex;
    flex-direction: column;
}

.title img{
    width: 35px;
    height: 35px;
    margin-left: 30px;  
}

.title p{
    color: var(--web-color);
    font-weight: bolder;
    font-size: 1.2em;
}

.title p span{
    color: var(--web-color2);
}

.navsec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.navsec a{
    border: 2px solid var(--web-color2);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
    background-color: var(--web-color2);
    padding: 5px;
}